body{
  color:black;
}

.debug{
  background-color: rgba(180, 133, 184, 0.489);
  border: 1px solid black;
}

header .navbar{
  height: 60px;
}

.mm-container{
  height: 100vh;
}

.mm-container .row:first-child{
  background-color: #051E34;
  background-image: url(../img/sidebar-bg.png);
  background-size:contain;
  background-repeat: no-repeat;
}

.col-1 .nav,
.col-11{
  padding-top: 60px;
}

.mm-container .row .col-1{
  height: 100vh;
}

.input-group {
  width: 60% !important;
}

.mm-container .top-bar{
  background-color: #1B72E8;
  height: 15vh;
  width: 100%;
}

.row{
  --bs-gutter-x: 0 !important;
  width: 100%;
}





